@use "./mixin" as mixin;

.main {
  display: flex;

  .summaryContainer {
    width: 15rem;
    height: fit-content;
    padding: 1.3rem 1.2rem 2.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid mixin.$border-gray;
    border-radius: 0.3rem;

    .topSection {
      display: flex;
      flex-direction: column;
      align-items: center;

      .itemHeading {
        font-weight: 500;
        font-size: 1.3rem;
        color: mixin.$primary;
      }

      .itemNumber {
        margin-top: 0.2rem;
        font-weight: 700;
        font-size: 1.3rem;
      }

      .submitBtn {
        margin-top: 1.5rem;
        background-color: mixin.$blue;
        font-weight: 600;
        font-size: 1rem;
        color: mixin.$white;
        padding: 0.75rem 2.75rem;
        border-radius: 0.3rem;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background-color: mixin.$dark-blue;
        }
      }
    }

    .middleSection {
      margin-top: 0.8rem;
      display: flex;
      flex-direction: column;
      width: 100%;

      .infoContainer {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;

        .heading {
          font-weight: 500;
          font-size: 1rem;
          color: mixin.$secondary;
        }

        .name {
          margin-top: 0.3rem;
          margin-left: 0.8rem;
          font-weight: 500;
          font-size: 1rem;
          color: mixin.$primary;
        }
      }
    }

    .actionContainer {
      margin-top: 3.75rem;
      position: relative;

      .actionBtn {
        width: 10rem;
        border: 0.1rem solid mixin.$blue;
        border-radius: 0.3rem;
        padding: 0.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        font-weight: 600;
        font-size: 1rem;
        color: mixin.$blue;

        .dropdown {
          width: 1.3rem;
          aspect-ratio: 1;
        }
      }

      .dropdownMenu {
        position: absolute;
        width: 15rem;
        background-color: mixin.$white;
        border: 0.1rem solid mixin.$border-gray;
        border-radius: 0.3rem;
        box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.25);

        // hidden state
        opacity: 0;
        transform: translateY(-1rem);
        transition: 0.3s ease;
        visibility: hidden;

        &.open {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
        }

        li {
          border-bottom: 0.1rem solid mixin.$border-gray;
          padding: 1.2rem 1.1rem;
          cursor: pointer;
          transition: 0.3s;

          font-weight: 500;
          font-size: 1.25rem;
          color: mixin.$primary;

          &:last-child {
            border-bottom: none;
          }

          &:hover, &.selected {
            background-color: mixin.$transparent-blue;
          }
        }
      }
    }
  }

  .right {
    margin-left: 1.1rem;
    flex-grow: 1;
  }
}