@use "./mixin" as mixin;

.main {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .dashboard {
    font-size: 3rem;
    font-weight: 500;
    color: mixin.$blue;
    cursor: pointer;
  }

  .userBtn {
    position: relative;
    min-width: 15rem;
    display: flex;
    padding: 0.6rem 0;
    border: 0.1rem solid mixin.$blue;
    border-radius: 0.3rem;
    cursor: pointer;

    .left {
      margin-left: 1.3rem;
      flex: auto;
      display: flex;
      flex-direction: column;

      .username {
        font-weight: 600;
        font-size: 1.2rem;
        color: mixin.$primary;
      }

      .role {
        margin-top: 0.2rem;
        font-weight: 500;
        font-size: 1rem;
        color: mixin.$secondary
      }
    }

    .right {
      margin-left: 0.75rem;
      margin-right: 0.5rem;
      width: 1.3rem;
      aspect-ratio: 1;
    }

    .dropdownMenu {
      position: absolute;
      top: 5rem;
      width: 15rem;
      background-color: mixin.$white;
      border: 0.1rem solid mixin.$border-gray;
      border-radius: 0.3rem;
      box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.25);

      // hidden state
      opacity: 0;
      transform: translateY(-1rem);
      transition: 0.3s ease;
      visibility: hidden;

      &.open {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }

      li {
        border-bottom: 0.1rem solid mixin.$border-gray;
        padding: 1.2rem 1.1rem;
        cursor: pointer;
        transition: 0.3s;

        font-weight: 500;
        font-size: 1.25rem;
        color: mixin.$primary;

        &:last-child {
          border-bottom: none;
        }

        &:hover, &.selected {
          background-color: mixin.$transparent-blue;
        }
      }
    }
  }
}