@use "./mixin" as mixin;

// general table styles

.underline {
  text-decoration: underline;
}

.seeDetails {
  color: mixin.$blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.marginTop {
  margin-top: 1.7rem;
}